@font-face {
  font-family: 'poppins';
  src: url('./fonts/poppins-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #e2ecf6;
}

*::-webkit-scrollbar-track:hover {
  background-color: #d4eaf6;
}

*::-webkit-scrollbar-track:active {
  background-color: #e8ebf6;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #063970;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #063970;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #063970;
}

.vertical-timeline {
  width: 100% !important;
}

.timeline-date {
  color: #063970;
}

.publicationsSwiper {
  padding-bottom: 50px !important;
}

.publicationsSwiper .swiper-pagination {
  bottom: 0;
}

.publicationsSwiper .swiper-button-next,
.publicationsSwiper .swiper-button-prev {
  color: #063970;
  font-size: 12px;
}
.swiper-pagination-bullet-active {
  background: #063970 !important;
}
.swiper-grid-column > .swiper-wrapper {
  flex-direction: row;
}
